{% extends 'base.html' %}   
{% block content %} 
    <!-- Header-->
  <header class="bg-dark text-white py-5" style="
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
">   
    <div class="container text-center" style="position: relative; z-index: 2;">
        <h1 class="display-4 fw-bold">Обновление информации</h1>
    </div>
</header>

   <div class="container">
       <div class="row">
           
        <div class="col-md-6 offset-md-3">
            <br/><br/>

            <form method="POST" action="{% url 'update_info' %}">
                {% csrf_token %}
                
                <strong>Информация о доставке</strong>
                <br/><br/>
                {{ shipping_form.as_p }}

                <button type="submit" class="btn btn-secondary">
                    Обновить информацию
                </button>
            </form>

            <br/><br/>

            <br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
       
       </div>
   </div>
      
{% endblock %}
