{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Обработка заказа</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="row">
                
             <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                      Информация о заказе
                    </div>
                    <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}:
                    {% if product.is_sale %}
                        {{ product.sale_price }} руб
                        {% else %}
                        {{ product.price }} руб
                    {% endif %}
                    <br/>
                    <small >Количество: 
                    {% for key, value in quantities.items %}
                     {% if key == product.id|slugify %}
                            {{ value }}
                    {% endif %}
                {% endfor %}</small>
  <br/><br/><br/>

            {% endfor %}
          Итого: {{ totals }} руб
          <br/><br/>
          <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Обновить элементы</a>
                    </div>
                  </div>
    <br/><br/> 
    <div class="card">
        <div class="card-header">
          Информация о доставке
        </div>
        <div class="card-body">
            
          Имя:  {{ shipping_info.shipping_full_name }}<br/> 
          Почта: {{ shipping_info.shipping_email }}<br/> 
          Адрес1: {{ shipping_info.shipping_address1 }}<br/> 
          Адрес2: {{ shipping_info.shipping_address2 }}<br/> 
          Город: {{ shipping_info.shipping_city }}<br/> 
          Регион: {{ shipping_info.shipping_state }}<br/> 
          Индекс: {{ shipping_info.shippnig_zipcode }}<br/> 
          Страна: {{ shipping_info.shipping_country }}<br/> 
          <br/> 
          <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Обновить доставку</a>
        </div>
      </div>
      <br/><br/><br/><br/> 
      <div class="card">
        <div class="card-header">
          Информация о платежах
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'process_order' %}">
            {% csrf_token %}
         
          {{ billing_form.as_p }}
            
        </div>
      </div> 
      
      <br/><br/>
      
      <button type="submit" class="btn btn-secondary">Оплатить</button>
    </form>
      <br/><br/> </div>
            </div>
        </div>

{% endblock %}